# Dependencies
node_modules/

# Build output
dist/

# Local data
geodata/*
!geodata/.keep
geodata_source/*
!geodata_source/.keep
project_files/*
!project_files/.keep

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
__pycache__/
